<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotel Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <div class="jumbotron text-center bg-info">
        <h1 class="text-white">Hotel List Home Screen</h1>
    </div>
    <a th:href = "@{/showNewHotelForm}" class="btn btn-success btn-lg btn-block"> Register New Hotel </a>
    <br>
    <table class="table table-striped table-bordered table-responsive-md">
        <thead class="thead-light">
        <tr>
            <th class="text-center">Hotel Name</th>
            <th class="text-center">Address</th>
            <th class="text-center">Rating</th>
            <th class="text-center">Details</th>
            <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hotel : ${listHotels}">
            <td th:text="${hotel.hotelName}"></td>
            <td th:text="${hotel.hotelAddress}"></td>
            <td th:text="${hotel.hotelRating}"></td>
            <td class="text-center">
                <a th:href="@{/showEmployeesOfHotel/{id}(id=${hotel.hotelId})}" class="btn btn-primary">Employees</a>
                <a th:href="@{/showRoomsOfHotel/{id}(id=${hotel.hotelId})}" class="btn btn-primary">Rooms</a>
            </td>
            <td class="text-center">
                <a th:href="@{/showUpdateHotelForm/{id}(id=${hotel.hotelId})}" class="btn btn-warning">Update</a>
                <a th:href="@{/deleteHotel/{id}(id=${hotel.hotelId})}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>