<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotel Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <div class="jumbotron text-center bg-info">
        <h1 class="text-white">Update Hotel Info</h1>
    </div>
    <hr>

    <form action="#" th:action="@{/saveHotel}" th:object="${hotel}" method="POST" class="col-lg-6 offset-lg-3">
        <div class="row justify-content-center">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{hotelId}"/>

            <input type="text" th:field="*{hotelName}" class="form-control mb-4 col-8">

            <input type="text" th:field="*{hotelAddress}" class="form-control mb-4 col-8">

            <input type="text" th:field="*{hotelRating}" class="form-control mb-4 col-8">

            <button type="submit" class="btn btn-success col-8"> Update Hotel</button>
        </div>
    </form>


    <hr>

    <a th:href="@{/}" class="btn btn-outline-warning"> Home </a>
</div>
</body>
</html>